@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=STIX+Two+Text&display=swap');
* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
html, body { height: 100%; }
